<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Ex01_FlrstServlet</display-name>
    <servlet-name>Ex01_FlrstServlet</servlet-name>
    <servlet-class>ch05.Ex01_FlrstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex01_FlrstServlet</servlet-name>
    <url-pattern>/Ex01_FlrstServlet</url-pattern>
  </servlet-mapping>
  <display-name>JavaWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Ex02_Parameter</display-name>
    <servlet-name>Ex02_Parameter</servlet-name>
    <servlet-class>ch06_basic.Ex02_Parameter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex02_Parameter</servlet-name>
    <url-pattern>/Ex02_Parameter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ex03_Calculator</display-name>
    <servlet-name>Ex03_Calculator</servlet-name>
    <servlet-class>ch06_basic.Ex03_Calculator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex03_Calculator</servlet-name>
    <url-pattern>/Ex03_Calculator</url-pattern>
  </servlet-mapping>
</web-app>